/* RESERT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: rgb(58, 207, 207);
    color: #000;
}

/* NAVBAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(52, 135, 243);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.menu {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-link {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    position: relative;
    padding: 0.5rem;
}

.menu-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

/* HEADER */
header {
    height: 100vh;
    background: url(https://us.oricon-group.com/upimg/detail/2000/2741/img660/74149d663a2199174f21e65139804157.jpg) center/cover;
    color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-top: 60px;
}

header h2 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

/* SECTIONS*/
section {
    padding: 60px 20px;
    text-align: center;
}

/* CARDS */
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(red, green, blue, alpha);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);

}

/* LISTA */
.atividades-lista {
    list-style: none;
    margin-top: 20px;
}

.atividades-lista li {
    margin: 10px 0;
    font-size: 1.2rem;
}

/* GALERIA*/
.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.galeria img {
    border-radius: 10px;
    width: 300px;
    transition: transform 0.3s;
}

.galeria img:hover {
    transform: scale(1.05);

}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

input, textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(42, 30, 210);
}

button {
    background-color: rgb(245, 244, 244);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: cadetblue;
}

/* BOTÃO INTERATIVO */
#botao-interativo {
    text-align: center;
    padding: 60px 20px;
}

.botao-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* BOTÃO */
.bnt-maomao {
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: cornflowerblue;
    color: #ebe4e4;
    cursor: pointer;

    transition: all 0.4s ease;

}

/* HOVER DO BOTÃO */
.bnt-maomao:hover {
    background-color: #c54747;
    color: rgb(116, 77, 77);
    transform: scale(1.05);
}

/* FOOTER */
footer {
    background-color: rgb(52, 119, 243);
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/*CURIOSIDADES */
section#curiosidades h2 {
    font-family: 'Arial, Helvetica, sans-serif';
    color: #000000;
    padding: 60px 20px;
    text-align: center;
}
section#curiosidades p {
    font-size: 25px;
    color: #000000;
    font-family: 'Arial, Helvetica, sans-serif';
    background-color: rgb(213, 224, 255);
}

section#projetos p {
    font-size: 30px;
    font-family: 'Arial, Helvetica, sans-serif';
    color: #000;
}

section#projetos a {
    font-size: 27px;
    color: purple;
    font-family: 'Arial, Helvetica, sans-serif';
}   